<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主要内容</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        .listTable th, td {
            padding-left: 60px
        }

        .saveQuestion {
            width: 400px;
            height: 400px;
            background: darkgray;
            opacity: 0.1;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -200px;
            display: none;
            z-index: 5;
        }
    </style>
    <script type="text/javascript">
        function query() {
            window.location.href = "paper/list";
        }

        function show() {
            $("#saveQuestion").css('display', 'block')
        }
    </script>

</head>
<body>
<div class="col-sm-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            试卷主体
        </div>
        <form action="/paper/save" method="post">
            <div class="panel-body">
                试卷名称:<input type="text" name="title">
                及格线:<input type="text" name="passLine">
                总分:<input type="text" name="fullMarks">
                <div class="form-group">
                    <input type="submit" value="创建试卷" class="btn btn-default"/>
                </div>
            </div>
        </form>
        <div class="form-group">
            <button class="btn btn-default" onclick="query()">查询试卷列表</button>
        </div>
        <table class="listTable">
            <thead>
            <tr>
                <th>序号</th>
                <th>试卷名称</th>
                <th>满分</th>
                <th>及格线</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="paper,paperStat:${paperList}">
                <td th:text="${paperStat.index+1}"></td>
                <td th:text="${paper.title}"></td>
                <td th:text="${paper.fullMarks}"></td>
                <td th:text="${paper.passLine}"></td>
                <td th:text="${paper.createUserId} == null ? Admin : ''"></td>
                <td><a th:href="@{'/paper/detail?paperId='+${paper.id}}">查看</a></td>
            </tr>

            </tbody>
        </table>
    </div>


    <div th:each="choiceVO:${choiceVOList}">
        <span th:text="${choiceVO!= null ? '题目:':'' }"/>
        <span th:text="${choiceVO.choice.title}"></span>
        <div th:each="optionL,optionLStat:${choiceVO.optionList}">
        <span th:text = "${optionLStat.index+1}"></span><span th:text="${optionL.content != null ? '、':''}"/>   <span th:text="${optionL.content}"></span>
            <span th:text="${optionLStat.index+1+'' == choiceVO.choice.correct ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;正确答案':''}"/>
        </div>
    </div>


</div>
</body>
</html>
