<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leroy.attendance.dao.CheckRecordMapper">
  <resultMap id="BaseResultMap" type="com.leroy.attendance.model.CheckRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="cw_id" jdbcType="INTEGER" property="cwId" />
    <result column="crate_date" jdbcType="TIMESTAMP" property="crateDate" />
    <result column="start_state" jdbcType="INTEGER" property="startState" />
    <result column="end_state" jdbcType="INTEGER" property="endState" />
  </resultMap>
</mapper>