<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leroy.attendance.dao.OptionnMapper">
  <resultMap id="BaseResultMap" type="com.leroy.attendance.model.Optionn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="choice_id" jdbcType="INTEGER" property="choiceId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
</mapper>